body{
    background-color: coral;
}
.logo {
    width: 35%;
    background-size: cover;
}

.bg-none {
    background-color: #FFF3CD;
}

.click:hover {
    cursor: pointer;
}

.lineThrough{
    text-decoration: line-through;
}